data discrepancy for 2024 publication count (rse site vs. staff pages)

Regarding number of RFCs published per year for rse stats vs. staff pages:

2024: 167 vs. 175 - 1 April 1st doc (RFC9564). The other 7 are detailed below.
2023: 170 vs. 173 - As expected, the 3 April 1st docs (RFC9401, RFC9402, RFC9405)
2022: 192 vs. 194  - As expected, the 2 April 1st docs (RFC9225, RFC9226)

Note: different tabs on [rse.rfc-editor.org](http://rse.rfc-editor.org/) display different data. For 2024, the issue is specifically on (B) below:
(A) RFCs by date (https://rse.rfc-editor.org/rpc/range) shows 175. [correct]
(B) RET (https://rse.rfc-editor.org/rpc/monthly) shows 167. [wrong]

7 RFCs are missing from (B). They were all published in May 2024:

doc-id - internal_key - pub-date - draft
RFC9553 - 10065 - 2024-05-07 - draft-ietf-calext-jscontact-17
RFC9554 - 10006 - 2024-05-07 - draft-ietf-calext-vcard-jscontact-extensions-12	
RFC9555 - 10008 - 2024-05-07 - draft-ietf-calext-jscontact-vcard-15
RFC9562 - 10074 - 2024-05-07 - draft-ietf-uuidrev-rfc4122bis-14
RFC9570 - 10147 - 2024-05-22 - draft-ietf-mpls-lspping-norao-08
RFC9589 - 10170 - 2024-05-23 - draft-ietf-sidrops-cms-signing-time-07
RFC9598 - 10118 - 2024-05-23 - draft-ietf-lamps-rfc8398bis-05

Underlying data for those 7 RFCs:
* state_history table -- Their data is present.
* rpc_rfcstatesummary table -- Their data is not present. Monthly, a script uses the data from state_history to create rows in rpc_rfcstatesummary for the RFCs published in the past month.